<div style="margin:auto; width: 100%; margin-top: 30px;">
  <app-search-box (onSelectedOptions)="onSelectedFilter()"></app-search-box>
</div>
<h2 style="text-align:center">Search results</h2>
<mat-form-field>
    <mat-select placeholder="Select an option" (selectionChange)="sortRestaurants($event)">
      <mat-option *ngFor="let sort of sortList" [value]="sort.value">
        {{sort.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-list>
  <mat-list-item *ngFor="let restaurant of restaurantsList">
    <img matListAvatar src="{{restaurant.image}}" alt="Image">
    <h3 matLine> {{restaurant.name}} </h3>
    <p matLine> Rating : {{restaurant.rating}} </p>
    <p matLine class="demo-2"> Delivery Time : {{restaurant.deliveryTime}} mins</p>
  </mat-list-item>
</mat-list>